<h1>Welcome to our petition main page. NO IDEA WHAT IT WILL BE YET BUT STAY TUNED</h1>
<form method="POST" style="display: flex; flex-direction: column; justify-content: space-between; width: 40%; height: 50%;">
    <h1>Welcome to my petition project</h1>
    <div>
        <label for="first">First Name</label><br>
        <input type="text" name="first" id="first" required><br>
        <label for="last">Last Name</label><br>
        <input type="text" name="last" id="last" required>
        <button> Submit </submit>
    </div>

</form>