<div class="container">
<h1>Let's change the way people use electric scooters!</h1>
<p>For last two years they can be found everywhere - on sidewalks, streets, UBahn stations, our backyards, <br
>parks and even polluting the water in canals and lakes! It is time to bring some order and introduce rules that will <br>
make our streets safer for all, the scooter users included!
we demand the city of Berlin to introduce law</p>



<form method="POST">
    <h1>Welcome to my petition project</h1>
    <div>
        <input id="signature" type="hidden" name="signature"><br>
        <label for="signature">Use mouse to sign below:</label><br>
        <canvas id='canvas' width='400' height='150' style="border:2px solid"></canvas><br>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">

        <button> Submit </button>

    </div>

</form>
</div>

