<div class="container">
        <h3>To sign this petition you need to first to create an user account by filling and submitting a form below </h3>

        {{#if error}}
                <h2>{{message}}</h2>
        {{/if}}

        <h2>Lying around, on the streets, bike lanes and sidewalks! Let's change the way people use electric scooters!</h2><br>

                <form method="POST">
                        <label for="first">First Name</label><br>
                        <input type="text" name="first" id="first" required><br>

                        <label for="last">Last Name</label><br>
                        <input type="text" name="last" id="last" required><br>

                        <label for="email">Email Address</label><br>
                        <input type="text" name="email" id="email " required><br>

                        <label for="password">Password</label><br>
                        <input type="password" name="password" id="password" required><br>
                        <input type="hidden" name="_csrf" value="{{csrfToken}}">

                        <button class="signup"> Sign up </button>
                </form>
</div>


<link rel="stylesheet" href="/public/register.css"
