<h1>We live in petition driven world. Wanna hang with the cool kids? Sign one now!</h1>
<h2>To do so, you need to first to create an user account by filling and submitting a form below </h2>
<form method="POST">
        <label for="first">First Name</label><br>
        <input type="text" name="first" id="first" required><br>

        <label for="last">Last Name</label><br>
        <input type="text" name="last" id="last" required><br>

        <label for="email">Email Address</label><br>
        <input type="text" name="email" id="email"><br>

        <label for="password">Password</label><br>
        <input type="text" name="password" id="password"><br>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">

        <button> Sign up </button>
</form>