<h1>Many thanks for signing the petition, please be sure to tell your friends about it!</h1>
<h2>There are {{count}} of us!</h2>
<h2>Interested who has already singed? Click <a href="/signers">here</a></h2>





