<h1>Many thanks for signing the petition, please be sure to tell your friends about it!</h1>
<h2>Interested who has already singed? Click <a href="/views/signers.handlebars">here</a></h2>





