<div class="modal">
    <div class="login-container">
        <div class="login-form">
            <form method="POST">
                <label for="email">Email Address</label><br />
                <input type="text" name="email" id="email" /><br />

                <label for="password">Password</label><br />
                <input type="password" name="password" id="password" /><br />
                <input type="hidden" name="_csrf" value="{{csrfToken}}" />

                <button class="signIn-button">Sign in</button>
            </form>
            <div>
                <br />
                <p>Not registered yet?
                    </br>                     Click to
                    <a href="/register">create account</a></p>
            </div>
        </div>

        {{#if error}}
            <h2>{{message}}</h2>
        {{/if}}

    </div>
</div>