<div class="modal">
    <div class="logout-container">

        <h2>You have successfully logged out!</h2>
        <span>
            <br />
        </span>
        <p>To login again click <a href="/login">here</a></p>
    </div>
</div>