<div class="modal">
    <h1>Let's change the way people use electric scooters!</h1>
    <p>For last two years they can be found everywhere - on sidewalks, streets,
        UBahn stations, our backyards,
        <br />parks and even polluting the water in canals and lakes! It is time
        to bring some order and introduce rules that will
        <br />
        make our streets safer for all, the scooter users included! Scooters
        lying everywhere can post a danger for cyclist and other users of the
        streets. The solution is simple - docking areas where the scooters
        should be parked! Do you agree and like this idea? Please sign.</p>

    {{#if error}}
        <h2>{{message}}</h2>
    {{/if}}

    <form method="POST">
        <div>
            <input id="signature" type="hidden" name="signature" /><br />
            <label for="signature">Use mouse to sign below:</label><br />
            <canvas
                id="canvas"
                width="400"
                height="150"
                style="border:2px solid"
            ></canvas><br />
            <input type="hidden" name="_csrf" value="{{csrfToken}}" />

            <button> Submit </button>

        </div>

    </form>
</div>