<div class="modal">
    <div class="profile-container">
        <h2>Join the Movement for Safer Streets!</h2>
        <p class="profile-intro">
            We'd love to learn more about our supporters to make our campaign
            even stronger. Please share a few details about yourself to help us
            gather important statistics.
            <br />
            <br />
        </p>

        {{#if error}}
            <h2>{{message}}</h2>
        {{/if}}

        <form class="profile-form" method="POST">
            <label for="age">Age</label><br />
            <input type="text" name="age" id="age" /><br />

            <label for="city">City</label><br />
            <input type="text" name="city" id="city" /><br />

            <label for="homepage">Homepage</label><br />
            <input type="text" name="homepage" id="homepage" /><br />

            <input type="hidden" name="_csrf" value="{{csrfToken}}" />

            <button class="continue-button"> Continue </button>
        </form>
    </div>
</div>