/* .register {
    text-decoration: none;
    font-size: large;
    margin-top: 150px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(253, 253, 253, 0.9);
    width: 50%;
    height: 70%;
    padding: 25px 10px 25px 15px;
    box-shadow: 2px 2px rgba(31, 29, 29, 0.1);
} */
