h4 {
    text-align: center;
}

.edit {
    margin-top: 90px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(253, 253, 253, 0.8);
    width: 40%;
    padding: 25px 10px 25px 15px;
    box-shadow: 2px 2px rgba(31, 29, 29, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    height: 20px;
    width: 200px;
    text-indent: 5px;
    border-radius: 5px;
}

label {
    color: grey;
    font-size: small;
}

.buttons {
    display: flex;
    margin-top: 15px;
    /* justify-content: space-around; */
    padding: 0px 10px 10px 0px;
}

.cancel:hover {
    font-weight: bold;
    transform: scale(1.2) translateY(1%);
}

.continue:hover {
    font-weight: bold;
    transform: scale(1.2) translateY(1%);
}
