{{#if userLoggedOut}}
    <header class="petition-header">
        <a href="/petition">Petition</a>
        <a href="/login">Login</a>
        <a href="/register">Sign Up</a>
    </header>
{{else}}
    <header class="petition-header">
        <a href="/petition">Petition</a>
        <a href="/edit">Edit your profile</a>
        <a href="/logout">Sing Out</a>
    </header>
{{/if}}